@import "variables";

$two-columns-sidebar-width: 300px;

.two-columns-layout {
    display: grid;
    gap: 1rem;
    max-width: 100%;
}

@include media-breakpoint-up(xl) {
    .two-columns-layout {
        display: block;
        position: relative;
    }

    .two-columns-layout-sidebar {
        width: $two-columns-sidebar-width;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .two-columns-layout-content {
        position: relative;
        top: 0;
        right: 0;
        padding-left: 0.5rem;
        word-wrap: break-word;
        word-break: break-all;
        margin-left: calc($two-columns-sidebar-width + 0.5rem);
    }
}