// Colors
// =======================================
$primary: #543b81;
$dark: #2e0059;
$danger: #e52d18;
$warning: #dbc92e;
$success: #2b9861;
$info: #677251;
$white: white;
$black: black;

$min-contrast-ratio: 2;

$font-family-base: "Inter", sans-serif;
$font-size-base: 0.92rem;

$input-group-addon-bg: transparent;

// App sidebar
// =======================================
$app-sidebar-width: 240px;
$app-sidebar-bg: darken($primary, 20%);
$app-sidebar-transition-speed: 500ms;
$app-sidebar-border-color: lighten($app-sidebar-bg, 5%);

// App header
// =======================================
$app-header-height: 60px;
$app-header-transition-speed: 500ms;
